@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px; text-decoration:none;list-style-type:none;}
body {
  min-width: 980px;
  margin: 0 auto;
  background-color: #E4EFDC;
}
.ulitem{
	width:400px;
	margin: 0 auto;
	li{
		padding:10px 20px;
		margin:80px 5px 30px;
		font-size:30px;
		font-family:"黑体";
		display:inline-block;
		text-align:center;
	}
	.presentPage{
		border: solid 3px #4189AD;
	}
	.availPage{
		border: solid 3px #E4EFDC;
		&:hover{
			color:#878787;
		}
	}
}

.teaminfo{
	color:#4189AD;
	padding:50px;
	font-size:26px;
	font-family:"黑体";
	width: 980px;
	margin: 0px auto;
	h2{
		margin-bottom:30px;
	}
}
.mainframe{
	width:980px;
	margin:auto;
	display:block;
}
.personinfo{
	width: 450px;
	margin: 100px 18px;
	height:250px;
	display:inline-block;
	h3{
		padding:10px;
	}
	article{
		width: 250px;
		float: right;
		padding:30px;
		line-height: 22px;
	}
	.personpic{
		display: inline-block;
	}
	.personlist{
		display:inline-block;
		font-size:30px;
		position:relative;
		bottom:20px;
	}
	header{
		padding:15px 10px;
	}
	li{
		color:#878787;
		font-size:16px;
		padding:5px 10px;
		font-family:"楷体";
	}
}
.personinfodetail(@color){
	h3{
		border-bottom:5px solid @color; 
	}
	.personpic{
		border: 5px solid @color; 
	}
	.personlist{
		color:@color;
	}
}
.personinfo1{
	.personinfodetail(#4189AD);
}
.personinfo2{
	.personinfodetail(#FDD421);
}
.personinfo3{
	.personinfodetail(#BC7B5B);
}
.personinfo4{
	.personinfodetail(#2AAA0F);
}
.personinfo5{
	.personinfodetail(#FC9924);
}
.personinfo6{
	.personinfodetail(#F1A090);
}


footer{
	color:#878787;
	font-size:26px;
	text-align:center;
	margin:80px auto;
	display:block;
}
